anthropic>=0.84
arviz>=0.23
bambi>=0.17
huggingface-hub>=1.5
ipykernel>=7.2
ipython>=9.10
ipywidgets>=8.1
llm>=0.28
markitdown>=0.1.5
matplotlib>=3.10
mostlyai>=5.10
numpy>=2.0
openai>=2.24
pandas>=2.2
peft>=0.18
pypdf>=6.7
safetensors>=0.7
scienceplots>=2.2
scipy>=1.17
sentence-transformers>=5.2
skimpy>=0.0.20
srsly>=2.5
statadict>=1.1
statsmodels>=0.14
torch>=2.10
transformers>=5.2
